.navbar {
    background-color: $creamWhite;
    // border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 40px 80px;
    z-index: 5;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;

    &_brand {

        width: 200px;

    }

    &_link {
        display: flex;

        &_item {
            padding: 10px 15px;
            position: relative;
            

            a {
                font-size: 18px;
                text-transform: uppercase;
                color: $primary-color;
                font-weight: 600;
                transition: all .3s;

                &:hover {
                    color: $brightBlue;
                }
            }

            &:hover .navbar_dropdown {
                border-radius: 10px;
                position: absolute;
                z-index: 6;
                top: 2.5rem;
                // padding: 10px;
                box-shadow: 1px 1px 30px 3px rgba(31, 31, 31, 0.45);
                width: 170px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: $creamWhite;

                &_item {
                    padding: 10px;
                }

            }

        }

        
        
    }
    &_dropdown {
        display: none;
    }
    .fa-bars{
        display: none;
    }
    #toggle{
        display: none;

    }

    @media screen and (max-width:600px) {
        padding: 10px;
        position: relative;
        &_brand {
            width: 100px;
        }
        &_link{
            display: none;
        }
        .fa-bars{
            display: block;

        }
        #toggle:checked ~ .navbar_link{
            display: flex;
            flex-direction: column;
            position: absolute;
            gap: 12px;
            margin: 0;
            //align-items: center;
            // justify-content: center;
            left: -2px;
            top: 110%;
            width: 102%;
            height: 100vh;
            background-color: rgba(9, 9, 9, 0.98);
            &_item{
                padding: 20px;
                
            }
            a{
                color: #fff;
                font-weight: 400;
                font-size: 26px;
            }

            
            
        }
        &:has(#toggle:checked){
            background-color: rgba(9, 9, 9, 0.98);
        }

        .fa-angle-down{
            color: #fff;
        }

    }
}